Repository rjw57/componentsdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-graphql-schema, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ^schema.gql$
      - id: check-yaml
        args:
          - --unsafe
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: detect-private-key
      - id: mixed-line-ending
      - id: debug-statements

  - repo: https://github.com/python-poetry/poetry
    rev: 1.8.3
    hooks:
      - id: poetry-check
        args: ["-C", "backend"]
      - id: poetry-lock
        args: ["-C", "backend"]

  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 2.7.3
    hooks:
      - id: editorconfig-checker
        args: ["-disable-indent-size"]

  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black

  - repo: https://github.com/timothycrosley/isort
    rev: 5.13.2
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.1
    hooks:
      - id: mypy
        exclude: ^backend/alembic/
        additional_dependencies: ["strawberry-graphql", "types-requests"]

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.1
    hooks:
      - id: actionlint

  - repo: local
    hooks:
      - id: generate-graphql-schema
        name: Generate graphql schema
        files: ^backend/componentsdb/graphql/
        pass_filenames: false
        language: system
        entry: "docker compose run --no-TTY --rm generate-graphql-schema"
      - id: prettier
        name: prettier
        additional_dependencies:
          - 'prettier@^3.3.3'
        entry: prettier --write --list-different --ignore-unknown
        language: node
        files: ^frontend/

feat: start to implement a nicer frontend
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/GraphiQLPage.tsx
  frontend/src/components/Page.tsx
  frontend/src/components/PageHeader.tsx
  frontend/src/components/index.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useThemeConfig.ts
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/router.tsx
  frontend/yarn.lock
Due: prettier

feat: make first graphql query in frontend
  frontend/.dockerignore
  frontend/.gitignore
  frontend/codegen.ts
  frontend/package.json
  frontend/src/components/GraphiQLPage.tsx
  frontend/src/components/Page.tsx
  frontend/src/components/PageHeader.tsx
  frontend/src/components/index.ts
  frontend/src/contexts/AuthContext.ts
  frontend/src/contexts/index.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useFederatedIdentitiyProviders.ts
  frontend/src/index.tsx
  frontend/yarn.lock
Due: prettier

feat: genericise Apollo client wrapping
  frontend/src/apolloClient.ts
  frontend/src/components/GraphiQLPage.tsx
  frontend/src/components/Page.tsx
  frontend/src/components/PageHeader.tsx
  frontend/src/hooks/useFederatedIdentitiyProviders.ts
  frontend/src/hooks/wrapApolloUseQuery.ts
Due: prettier

feat: make graphiql page look nicer
  frontend/src/components/GraphiQLPage.tsx
Due: prettier

chore: freshen poetry.lock file
  backend/poetry.lock
Due: none

feat: move AuthContext into AuthProvider
  frontend/src/components/AuthProvider.tsx
  frontend/src/components/index.ts
  frontend/src/contexts/index.ts
Due: prettier

feat: get prototype sign in and sign up working
  frontend/codegen.ts
  frontend/src/components/AuthProvider.tsx
  frontend/src/components/GraphiQLPage.tsx
  frontend/src/components/Page.tsx
  frontend/src/components/PageHeader.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useCredentialsFromFederatedCredential.ts
  frontend/src/hooks/wrapApolloUseMutation.ts
  frontend/src/index.tsx
Due: prettier

feat: handle user not yet signed up error
  backend/componentsdb/graphql/authtypes.py
  backend/tests/graphql/test_auth.py
  schema.gql
Due: generate-graphql-schema

feat: use short access token expiry time in development
  docker-compose.yaml
Due: none

feat: add some basic query complexity limitation
  backend/componentsdb/graphql/__init__.py
Due: generate-graphql-schema

feat: add graphql generated typescript code
  .pre-commit-config.yaml
  frontend/.dockerignore
  frontend/.gitignore
  frontend/package.json
  frontend/src/__generated__/gql/fragment-masking.ts
  frontend/src/__generated__/gql/gql.ts
  frontend/src/__generated__/gql/graphql.ts
  frontend/src/__generated__/gql/index.ts
  frontend/src/apolloClient.ts
  frontend/src/components/AuthProvider.tsx
  frontend/src/contexts/AuthContext.ts
  frontend/src/contexts/index.ts
  frontend/src/hooks/useAuth.ts
Due: prettier

fix: attempt to fix graphql pre-commit job
  .pre-commit-config.yaml
Due: none

feat: tighten up refresh logic
  docker-compose.yaml
  frontend/src/__generated__/gql/gql.ts
  frontend/src/__generated__/gql/graphql.ts
  frontend/src/components/AuthProvider.tsx
  frontend/src/components/GraphiQLPage.tsx
  frontend/src/components/Page.tsx
  frontend/src/components/PageHeader.tsx
  frontend/src/contexts/AuthContext.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useApolloClient.ts
  frontend/src/hooks/useRefreshCredentials.ts
Due: prettier

feat: tidy up AuthProvider and make use of authenticated fetch for ApolloClient
  frontend/src/apolloClient.ts
  frontend/src/components/AuthProvider.tsx
  frontend/src/hooks/useApolloClient.ts
Due: prettier

fix: freshen lock file
  backend/poetry.lock
Due: none

feat: add index and graphql pages
  frontend/src/apolloClient.ts
  frontend/src/components/DefaultPage.tsx
  frontend/src/components/GraphiQLPage.tsx
  frontend/src/components/IndexPage.tsx
  frontend/src/components/PageHeader.tsx
  frontend/src/components/index.ts
  frontend/src/router.tsx
Due: prettier

feat: first draft of sign-in/sign-up page
  frontend/src/components/AuthProvider.tsx
  frontend/src/components/PageHeader.tsx
  frontend/src/components/SignInPage.tsx
  frontend/src/components/SignUpPage.tsx
  frontend/src/components/index.ts
  frontend/src/contexts/AuthContext.ts
  frontend/src/router.tsx
Due: prettier

feat: add stub backend CLI tool
  backend/componentsdb/cli.py
  backend/poetry.lock
  backend/pyproject.toml
Due: none

feat: flesh out backend CLI tool
  backend/componentsdb/cli.py
  backend/componentsdb/cli/__init__.py
  backend/componentsdb/cli/__main__.py
  backend/componentsdb/cli/server.py
  docker-compose.yaml
  taskfile.yaml
Due: none

feat: make sign in and sign our pages prettier
  frontend/package.json
  frontend/src/components/AntConfigProvider.tsx
  frontend/src/components/ApolloProvider.tsx
  frontend/src/components/DefaultPage.tsx
  frontend/src/components/GraphiQLPage.tsx
  frontend/src/components/Page.tsx
  frontend/src/components/SignInOrUpForm.tsx
  frontend/src/components/SignInOrUpPage.tsx
  frontend/src/components/SignInPage.tsx
  frontend/src/components/SignUpPage.tsx
  frontend/src/components/index.ts
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/router.tsx
  frontend/yarn.lock
Due: prettier

fix: add bottom margin to graphiql view
  frontend/src/components/GraphiQLPage.tsx
Due: prettier

fix: do not show sign up errors on sign in form
  frontend/src/components/SignInOrUpForm.tsx
Due: prettier

feat: make sign in and up modal dialogs
  frontend/src/components/PageHeader.tsx
  frontend/src/components/SignInOrUpForm.tsx
  frontend/src/components/SignInOrUpPage.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useSignInOrSignUpModal.tsx
Due: prettier

feat: move to modal dialogs for sin in and up fully
  frontend/src/components/SignInOrUpForm.tsx
  frontend/src/components/SignInOrUpPage.tsx
  frontend/src/components/index.ts
  frontend/src/hooks/useSignInOrSignUpModal.tsx
  frontend/src/router.tsx
Due: prettier

feat: add user dropdown menu for sign out
  frontend/src/components/PageHeader.tsx
  frontend/src/components/SignInOrUpForm.tsx
  frontend/src/components/UserDropdown.tsx
  frontend/src/components/index.ts
Due: prettier

fix: remove unused import
  frontend/src/components/UserDropdown.tsx
Due: prettier

feat: move all application code into single App component
  frontend/src/App.tsx
  frontend/src/index.tsx
Due: prettier

feat: load graphql API URL from central place
  frontend/src/apolloClient.ts
  frontend/src/components/GraphiQLPage.tsx
  frontend/src/config.ts
Due: prettier

fix: be stricter in frontend about importing types
  docker-compose.yaml
  frontend/codegen.ts
  frontend/src/App.tsx
  frontend/src/__generated__/gql/fragment-masking.ts
  frontend/src/__generated__/gql/gql.ts
  frontend/src/__generated__/gql/graphql.ts
  frontend/src/components/AuthProvider.tsx
  frontend/src/components/PageHeader.tsx
  frontend/src/components/SignInOrUpForm.tsx
  frontend/src/config.ts
  frontend/src/hooks/useThemeConfig.ts
  frontend/src/hooks/wrapApolloUseMutation.ts
  frontend/src/hooks/wrapApolloUseQuery.ts
  frontend/src/reportWebVitals.ts
  frontend/tsconfig.json
Due: prettier

fix: prevent opaque response blocking for avatar image
  frontend/src/components/UserDropdown.tsx
Due: prettier

feat: port frontend to astro
  docker-compose.yaml
  frontend/.env.development
  frontend/.gitignore
  frontend/README.md
  frontend/astro.config.mjs
  frontend/codegen.ts
  frontend/package.json
  frontend/public/base.css
  frontend/public/favicon.svg
  frontend/src/App.tsx
  frontend/src/components/PageHeader.tsx
  frontend/src/config.ts
  frontend/src/contexts/AuthContext.ts
  frontend/src/env.d.ts
  frontend/src/index.tsx
  frontend/src/layouts/base.astro
  frontend/src/layouts/default.astro
  frontend/src/pages/api.astro
  frontend/src/pages/index.astro
  frontend/src/reportWebVitals.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Due: prettier

feat: add traefik-based frontend to prepare for prod packaging
  .pre-commit-config.yaml
  README.md
  compose/traefik-config/dev.yaml
  docker-compose.yaml
  frontend/codegen.ts
  frontend/schema.gql
  frontend/src/config.ts
  frontend/src/pages/healthy.astro
Due: prettier

feat: add traefik-based frontend to prepare for prod packaging
  .pre-commit-config.yaml
  frontend/schema.gql
Due: prettier

feat(docker-compose): add production-like config
  backend/Dockerfile
  backend/pyproject.toml
  compose/traefik-config/prod.yaml
  docker-compose.yaml
  frontend/.dockerignore
  frontend/Dockerfile
  taskfile.yaml
Due: prettier

fix: fix docker compose with newer poetry
  docker-compose.yaml
Due: none

feat: use prettier URLs in frontend server
  frontend/Dockerfile
  frontend/docker/nginx.conf
Due: prettier

feat: port frontend to astro and flowbite UI framework
  frontend/astro.config.mjs
  frontend/package.json
  frontend/public/base.css
  frontend/src/App.tsx
  frontend/src/__generated__/gql/gql.ts
  frontend/src/__generated__/gql/graphql.ts
  frontend/src/components/AntConfigProvider.tsx
  frontend/src/components/ApolloProvider.tsx
  frontend/src/components/AuthProvider.tsx
  frontend/src/components/DefaultPage.tsx
  frontend/src/components/GraphiQL.tsx
  frontend/src/components/GraphiQLPage.tsx
  frontend/src/components/IndexPage.tsx
  frontend/src/components/NavBar.astro
  frontend/src/components/NavbarAvatar.tsx
  frontend/src/components/NavbarContainer.tsx
  frontend/src/components/NavbarSignIn.tsx
  frontend/src/components/PageHeader.tsx
  frontend/src/components/SignInOrUpForm.tsx
  frontend/src/components/UserDropdown.tsx
  frontend/src/components/index.ts
  frontend/src/contexts/AuthContext.ts
  frontend/src/contexts/index.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useApolloClient.ts
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useCredentialsFromFederatedCredential.ts
  frontend/src/hooks/useRefreshCredentials.ts
  frontend/src/hooks/useSignIn.ts
  frontend/src/hooks/useSignInOrSignUpModal.tsx
  frontend/src/hooks/useThemeConfig.ts
  frontend/src/index.tsx
  frontend/src/layouts/base.astro
  frontend/src/layouts/default.astro
  frontend/src/pages/api.astro
  frontend/src/pages/index.astro
  frontend/src/router.tsx
  frontend/tailwind.config.mjs
  frontend/yarn.lock
Due: prettier

feat: use view transitions to make app more SPA-like
  frontend/package.json
  frontend/public/index.html
  frontend/src/apolloClient.ts
  frontend/src/components/NavBar.astro
  frontend/src/components/NavbarContainer.tsx
  frontend/src/hooks/useSignIn.ts
  frontend/src/layouts/base.astro
  frontend/yarn.lock
Due: prettier

feat: add docker image building to GitHub actions
  .github/workflows/test.yaml
Due: none

chore: update lock file
  backend/poetry.lock
Due: none
