Repository rjw57/componentsdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-graphql-schema, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ^schema.gql$
      - id: check-yaml
        args:
          - --unsafe
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: detect-private-key
      - id: mixed-line-ending
      - id: debug-statements

  - repo: https://github.com/python-poetry/poetry
    rev: 1.8.3
    hooks:
      - id: poetry-check
        args: ["-C", "backend"]
      - id: poetry-lock
        args: ["-C", "backend"]

  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 2.7.3
    hooks:
      - id: editorconfig-checker
        args: ["-disable-indent-size"]

  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black

  - repo: https://github.com/timothycrosley/isort
    rev: 5.13.2
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.1
    hooks:
      - id: mypy
        exclude: ^backend/alembic/
        additional_dependencies: ["strawberry-graphql", "types-requests"]

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.1
    hooks:
      - id: actionlint

  - repo: local
    hooks:
      - id: generate-graphql-schema
        name: Generate graphql schema
        files: ^backend/componentsdb/graphql/
        pass_filenames: false
        language: system
        entry: "docker compose run --no-TTY --rm generate-graphql-schema"
      - id: prettier
        name: prettier
        additional_dependencies:
          - 'prettier@^3.3.3'
        entry: prettier --write --list-different --ignore-unknown
        language: node
        files: ^frontend/

fix: tell poetry pre-commit hooks where pyproject.toml is
  .pre-commit-config.yaml
Due: none

feat: make user avatar a little nicer
  frontend/src/components/NavbarAvatar.tsx
  frontend/src/components/NavbarContainer.tsx
Due: prettier

feat: add CLI utility to create fake data
  backend/componentsdb/cli/__init__.py
  backend/componentsdb/cli/_db.py
  backend/componentsdb/cli/fakes.py
  backend/componentsdb/cli/users.py
Due: none

fix: make sure active path is shown in production
  frontend/src/components/NavbarContainer.tsx
Due: prettier

fix: do not reload page on mode change links in sign up form
  frontend/src/components/SignInOrUpForm.tsx
Due: prettier

fix: make sure poetry lock pre-commit check does not try to update
  .pre-commit-config.yaml
Due: none

feat: add in-built healtcheck for backend
  backend/Dockerfile
  backend/componentsdb/cli/server.py
  docker-compose.yaml
Due: none

feat: add sourcemaps for build artefacts
  frontend/astro.config.mjs
Due: prettier

feat: move dockerfile_inline into top-level docker file
  backend/Dockerfile
  docker-compose.yaml
  frontend/Dockerfile
Due: prettier

feat: serialised initial build to better re-use build cache
  backend/Dockerfile
  docker-compose.yaml
  taskfile.yaml
Due: none

feat: unify logging between backend and uvicorn
  backend/Dockerfile
  backend/componentsdb/cli/server.py
  backend/componentsdb/fastapi/app.py
  backend/componentsdb/fastapi/db.py
  backend/componentsdb/fastapi/settings.py
  backend/componentsdb/logging.py
Due: none

feat: log slow or excessive DB queries
  backend/componentsdb/cli/server.py
  backend/componentsdb/fastapi/app.py
  backend/componentsdb/fastapi/db.py
  backend/componentsdb/fastapi/settings.py
  backend/componentsdb/logging.py
Due: none

fix: fix test suite
  backend/componentsdb/fastapi/app.py
  backend/componentsdb/fastapi/db.py
Due: none

feat: allow passing options to task compose-build
  taskfile.yaml
Due: none

feat: be more more consistent with how DB sessions are created in tests
  backend/tests/db/test_db_schema.py
Due: none

feat: add first pass at import script to CLI
  backend/componentsdb/cli/__init__.py
  backend/componentsdb/cli/_db.py
  backend/componentsdb/cli/import_.py
Due: none

feat: tidy up FastAPI db session creation
  backend/componentsdb/fastapi/db.py
  backend/componentsdb/fastapi/graphql.py
  backend/componentsdb/logging.py
Due: none

feat: add ability to override base select for graphql entity list loaders
  backend/componentsdb/graphql/genericloaders.py
Due: generate-graphql-schema

feat: tweak re-authentication logic
  frontend/src/hooks/useSignIn.ts
Due: prettier

feat: add in component search (untested)
  .pre-commit-config.yaml
  backend/alembic/versions/132e6f3101a0_enable_trigram_extension.py
  backend/alembic/versions/62a019f1c202_add_search_text_column_to_components.py
  backend/componentsdb/db/models.py
  backend/componentsdb/graphql/context.py
  backend/componentsdb/graphql/genericloaders.py
  backend/componentsdb/graphql/loaders.py
  backend/componentsdb/graphql/types.py
  backend/pyproject.toml
  frontend/schema.gql
Due: generate-graphql-schema, prettier

feat: sketch out frontpage concept
  frontend/package.json
  frontend/src/layouts/base.astro
  frontend/src/pages/index.astro
  frontend/yarn.lock
Due: prettier

feat: make graphiql mode match selected theme
  frontend/src/components/GraphiQL.tsx
  frontend/src/components/NavbarAvatar.tsx
  frontend/src/layouts/base.astro
Due: prettier

fix: fix ordering of search results, endCursor still broken
  backend/componentsdb/fastapi/db.py
  backend/componentsdb/graphql/genericloaders.py
  backend/componentsdb/graphql/loaders.py
Due: generate-graphql-schema

feat: re-jig session creation in fastapi
  backend/componentsdb/fastapi/db.py
Due: none

fix: lock DB session to assure we do not try to make concurrent queries
  backend/componentsdb/graphql/context.py
  backend/componentsdb/graphql/genericloaders.py
  backend/componentsdb/graphql/loaders.py
Due: generate-graphql-schema

feat: refactor graphql querying
  backend/componentsdb/graphql/genericloaders.py
  backend/componentsdb/graphql/paginationtypes.py
  backend/tests/graphql/test_query_cabinets.py
Due: generate-graphql-schema

feat: add tests for component search
  backend/componentsdb/graphql/genericloaders.py
  backend/tests/dbfixtures.py
  backend/tests/graphql/test_component_search.py
Due: generate-graphql-schema

feat: add some experiments on layout
  frontend/src/pages/index.astro
Due: prettier

feat: add basic search functionality
  frontend/src/__generated__/gql/gql.ts
  frontend/src/__generated__/gql/graphql.ts
  frontend/src/components/Search.tsx
  frontend/src/components/SearchResults.tsx
  frontend/src/hooks/useComponentSearch.ts
  frontend/src/pages/index.astro
Due: prettier

feat: make search require hitting enter
  frontend/src/components/Search.tsx
  frontend/src/components/SearchResults.tsx
  frontend/src/pages/index.astro
Due: prettier

feat: use more modern sqlalchemy features
  backend/componentsdb/auth.py
  backend/componentsdb/cli/users.py
  backend/componentsdb/db/models.py
  backend/componentsdb/graphql/genericloaders.py
Due: generate-graphql-schema

feat: add roles and permissions models
  backend/alembic/versions/99a341f6afb5_add_roles_and_permissions_models.py
  backend/alembic/versions/bd992e5825fe_add_roles_binding_timestamp_triggers.py
  backend/alembic/versions/d3cab78139a6_add_roles_and_permissions.py
  backend/componentsdb/db/models.py
Due: none

feat(pre-commit): bump hook versions
  .pre-commit-config.yaml
Due: none

fix: fix bad formatting of some test files
  backend/tests/db/test_db_schema.py
  backend/tests/dbfixtures.py
Due: none

feat: start to expose RBAC in GraphQL
  backend/componentsdb/db/models.py
  backend/componentsdb/graphql/context.py
  backend/componentsdb/graphql/genericloaders.py
  backend/componentsdb/graphql/rbactypes.py
  backend/componentsdb/graphql/types.py
  backend/tests/graphql/test_query_rbac.py
  frontend/schema.gql
Due: generate-graphql-schema, prettier

feat: start to move RBAC GrpahQL types over to common connection model
  backend/alembic/versions/3c6509c01c97_add_uuid_to_roles_and_permissions.py
  backend/alembic/versions/99a341f6afb5_add_roles_and_permissions_models.py
  backend/alembic/versions/d3cab78139a6_add_roles_and_permissions.py
  backend/componentsdb/db/models.py
  backend/componentsdb/graphql/context.py
  backend/componentsdb/graphql/loaders.py
  backend/componentsdb/graphql/rbactypes.py
  backend/tests/graphql/test_query_rbac.py
  frontend/schema.gql
Due: generate-graphql-schema, prettier

fix: remove unused import
  backend/alembic/versions/bd992e5825fe_add_roles_binding_timestamp_triggers.py
Due: none

feat: genericise loaders a bit in advance of pagination refactor
  backend/componentsdb/graphql/context.py
  backend/componentsdb/graphql/loaders.py
  backend/componentsdb/graphql/rbactypes.py
  backend/componentsdb/graphql/types.py
Due: generate-graphql-schema

feat: hoist pagination parameters into connection factory constructor
  backend/componentsdb/graphql/context.py
  backend/componentsdb/graphql/genericloaders.py
  backend/componentsdb/graphql/paginationtypes.py
  backend/componentsdb/graphql/rbactypes.py
  backend/componentsdb/graphql/types.py
Due: generate-graphql-schema

feat: optimise one-to-many pagination
  backend/componentsdb/graphql/genericloaders.py
Due: generate-graphql-schema
